USE [master]
GO
/****** Object:  Database [QL_BanGiay]    Script Date: 16/10/2025 10:17:40 CH ******/
CREATE DATABASE [QL_BanGiay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_BanGiay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_BanGiay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_BanGiay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_BanGiay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_BanGiay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_BanGiay]
GO
/****** Object:  Table [dbo].[BaoHanh]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoHanh](
	[MaBH] [bigint] NOT NULL,
	[MaHD] [bigint] NULL,
	[MaGiay] [bigint] NULL,
	[MaKH] [bigint] NULL,
	[NgayBaoHanh] [date] NULL,
	[ThoiHan] [int] NULL,
	[MoTa] [nvarchar](200) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietChuongTrinhKhuyenMai]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChuongTrinhKhuyenMai](
	[MaKM] [bigint] NOT NULL,
	[MaGiay] [bigint] NOT NULL,
	[TiLeKM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC,
	[MaGiay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [bigint] NOT NULL,
	[MaGiay] [bigint] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaGiay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPN] [bigint] NOT NULL,
	[MaGiay] [bigint] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaGiay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongTrinhKhuyenMai]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhKhuyenMai](
	[MaKM] [bigint] NOT NULL,
	[TenChuongTrinh] [nvarchar](100) NULL,
	[LoaiChuongTrinh] [nvarchar](50) NULL,
	[DieuKien] [nvarchar](200) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[Giam] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichDiem]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichDiem](
	[MaGD] [bigint] NOT NULL,
	[MaKH] [bigint] NULL,
	[NgayGD] [date] NULL,
	[SoDiem] [int] NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giay]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giay](
	[MaGiay] [bigint] NOT NULL,
	[TenGiay] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[Size] [nvarchar](10) NULL,
	[DoiTuongSD] [nvarchar](50) NULL,
	[ChatLieu] [nvarchar](50) NULL,
	[MaLoai] [bigint] NULL,
	[MaXX] [bigint] NULL,
	[MaMau] [bigint] NULL,
	[MaThuongHieu] [bigint] NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[Images] [varchar](255) NULL,
	[HoatDong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [bigint] NOT NULL,
	[MaKH] [bigint] NULL,
	[MaNV] [bigint] NULL,
	[NgayBan] [date] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[Thue] [decimal](5, 2) NULL,
	[MaKM] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangThanThiet]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangThanThiet](
	[MaKH] [bigint] NOT NULL,
	[NgayThamGia] [date] NULL,
	[TongDiem] [int] NULL,
	[HangThanhVien] [nvarchar](50) NULL,
	[NgayCapNhat] [date] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [bigint] NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongNhanVien]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongNhanVien](
	[MaLuong] [bigint] NOT NULL,
	[MaNV] [bigint] NULL,
	[LuongCoBan] [decimal](18, 2) NOT NULL,
	[PhuCap] [decimal](18, 2) NULL,
	[Thuong] [decimal](18, 2) NULL,
	[KhauTru] [decimal](18, 2) NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[NgayTinhLuong] [date] NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[MaMau] [bigint] NOT NULL,
	[TenMau] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [bigint] NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [bigint] NOT NULL,
	[NgayNhap] [date] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[MaNV] [bigint] NULL,
	[MaNCC] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [bigint] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [bit] NULL,
	[Avatar] [varchar](max) NULL,
	[QRCode] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tam]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tam](
	[SoLuong] [int] NULL,
	[TongGia] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKeDoanhSo]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKeDoanhSo](
	[MaThongKe] [int] NOT NULL,
	[NgayLap] [date] NULL,
	[SoLuongBan] [int] NULL,
	[DoanhThu] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongKe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaThuongHieu] [bigint] NOT NULL,
	[TenThuongHieu] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatXu]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatXu](
	[MaXX] [bigint] NOT NULL,
	[TenNuoc] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaXX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaGiay], [SoLuong], [GiaBan]) VALUES (1975745819135053951, 1975745819135053801, 2, CAST(850000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaGiay], [SoLuong], [GiaBan]) VALUES (1975745819135053951, 1975745819135053802, 1, CAST(620000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaGiay], [SoLuong], [GiaNhap]) VALUES (123425, 1975745819135053801, 10, CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaGiay], [SoLuong], [GiaNhap]) VALUES (123425, 1975745819135053802, 10, CAST(2000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaGiay], [SoLuong], [GiaNhap]) VALUES (123425, 1975776840131940352, 5, CAST(2500000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChuongTrinhKhuyenMai] ([MaKM], [TenChuongTrinh], [LoaiChuongTrinh], [DieuKien], [NgayBatDau], [NgayKetThuc], [Giam]) VALUES (1, N'Adidas Sale 10%', N'%', N'Áp dụng cho tất cả sản phẩm Adidas', CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), NULL)
INSERT [dbo].[ChuongTrinhKhuyenMai] ([MaKM], [TenChuongTrinh], [LoaiChuongTrinh], [DieuKien], [NgayBatDau], [NgayKetThuc], [Giam]) VALUES (2, N'Nike Sale 15%', N'%', N'Áp dụng cho giày Nike chính hãng', CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), NULL)
INSERT [dbo].[ChuongTrinhKhuyenMai] ([MaKM], [TenChuongTrinh], [LoaiChuongTrinh], [DieuKien], [NgayBatDau], [NgayKetThuc], [Giam]) VALUES (3, N'Tặng điểm Adidas', N'Tặng điểm', N'Khách hàng thân thiết mua giày Adidas', CAST(N'2025-10-01' AS Date), CAST(N'2025-11-30' AS Date), NULL)
GO
INSERT [dbo].[Giay] ([MaGiay], [TenGiay], [SoLuong], [DonGia], [Size], [DoiTuongSD], [ChatLieu], [MaLoai], [MaXX], [MaMau], [MaThuongHieu], [TrangThai], [Images], [HoatDong]) VALUES (1975745819135053801, N'Giày Sneaker Nam Trắng', 50, CAST(850000.00 AS Decimal(18, 2)), N'42', N'Nam', N'Vải Canvas', 1, 1, 1, 1, N'Còn hàng', N'th.jpg', 1)
INSERT [dbo].[Giay] ([MaGiay], [TenGiay], [SoLuong], [DonGia], [Size], [DoiTuongSD], [ChatLieu], [MaLoai], [MaXX], [MaMau], [MaThuongHieu], [TrangThai], [Images], [HoatDong]) VALUES (1975745819135053802, N'Giày Sandal Nữ Đen', 30, CAST(620000.00 AS Decimal(18, 2)), N'38', N'Nữ', N'Da tổng hợp', 2, 1, 2, 2, N'Còn hàng', N'th (1).jpg', 1)
INSERT [dbo].[Giay] ([MaGiay], [TenGiay], [SoLuong], [DonGia], [Size], [DoiTuongSD], [ChatLieu], [MaLoai], [MaXX], [MaMau], [MaThuongHieu], [TrangThai], [Images], [HoatDong]) VALUES (1975772991115628544, N' Giày M/iu M/iu Nappa Leather Loafers', 1, CAST(107369.00 AS Decimal(18, 2)), N'43', N' Nam', N'Da', 1, 1, 1, 1, N'Còn hàng', N'OIP_0334af68-543e-4a22-8ac9-57a7353b3222.jpg', 1)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [NgayBan], [TongTien], [Thue], [MaKM]) VALUES (1975745819135053951, 1, 1, CAST(N'2025-10-08' AS Date), CAST(2320000.00 AS Decimal(18, 2)), CAST(0.10 AS Decimal(5, 2)), NULL)
GO
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (1, N'Giày Thể Thao')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (2, N'Giày Chạy Bộ')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (3, N'Giày Thời Trang')
GO
INSERT [dbo].[LuongNhanVien] ([MaLuong], [MaNV], [LuongCoBan], [PhuCap], [Thuong], [KhauTru], [Thang], [Nam], [NgayTinhLuong], [GhiChu]) VALUES (1001, 1977583274364637184, CAST(7000000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), 10, 2025, CAST(N'2025-10-14' AS Date), N'Lương tháng 10')
INSERT [dbo].[LuongNhanVien] ([MaLuong], [MaNV], [LuongCoBan], [PhuCap], [Thuong], [KhauTru], [Thang], [Nam], [NgayTinhLuong], [GhiChu]) VALUES (1002, 1977588889384259584, CAST(6800000.00 AS Decimal(18, 2)), CAST(900000.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), 10, 2025, CAST(N'2025-10-14' AS Date), N'Lương tháng 10')
INSERT [dbo].[LuongNhanVien] ([MaLuong], [MaNV], [LuongCoBan], [PhuCap], [Thuong], [KhauTru], [Thang], [Nam], [NgayTinhLuong], [GhiChu]) VALUES (1003, 1977589627762118656, CAST(7200000.00 AS Decimal(18, 2)), CAST(1100000.00 AS Decimal(18, 2)), CAST(400000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), 10, 2025, CAST(N'2025-10-14' AS Date), N'Lương tháng 10')
GO
INSERT [dbo].[MauSac] ([MaMau], [TenMau]) VALUES (1, N'Trắng')
INSERT [dbo].[MauSac] ([MaMau], [TenMau]) VALUES (2, N'Đen')
INSERT [dbo].[MauSac] ([MaMau], [TenMau]) VALUES (3, N'Xanh dương')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (1, N'Công ty phân phối Adidas VN', N'Hà Nội', N'0988123456')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (2, N'Công ty phân phối Nike VN', N'Hồ Chí Minh', N'0977654321')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (134566, N'Công ty phân phối Nike VN', N'Hồ Chí Minh', N'0977654321')
GO
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [TongTien], [MaNV], [MaNCC]) VALUES (123425, CAST(N'2025-10-01' AS Date), CAST(90000000.00 AS Decimal(18, 2)), 1977651997595275264, 143554)
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [TongTien], [MaNV], [MaNCC]) VALUES (1975745819135053901, CAST(N'2025-10-08' AS Date), CAST(19000000.00 AS Decimal(18, 2)), NULL, 1)
GO
INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [GioiTinh], [NgaySinh], [DienThoai], [Email], [DiaChi], [MatKhau], [Role], [NgayTao], [TrangThai], [Avatar], [QRCode]) VALUES (1, N'Hồ Phi Long', N'Nam', CAST(N'1990-01-01' AS Date), N'0901111111', N'hpl@gmail.com', N'Hà Nội', N'123456', N'ADMIN', CAST(N'2025-10-04' AS Date), 1, NULL, NULL)
GO
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [TenThuongHieu], [DiaChi], [Email]) VALUES (1, N'Adidas', N'Berlin, Đức', N'contact@adidas.com')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [TenThuongHieu], [DiaChi], [Email]) VALUES (2, N'Nike', N'Oregon, Mỹ', N'contact@nike.com')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [TenThuongHieu], [DiaChi], [Email]) VALUES (134534, N'Nike', N'Oregon, Mỹ', N'contact@nike.com')
GO
INSERT [dbo].[XuatXu] ([MaXX], [TenNuoc]) VALUES (1, N'Việt Nam')
INSERT [dbo].[XuatXu] ([MaXX], [TenNuoc]) VALUES (2, N'Trung Quốc')
INSERT [dbo].[XuatXu] ([MaXX], [TenNuoc]) VALUES (3, N'Indonesia')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__1F031876C937B7AE]    Script Date: 16/10/2025 10:17:40 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[DienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__A9D10534C7C420BA]    Script Date: 16/10/2025 10:17:40 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiaoDichDiem] ADD  DEFAULT (getdate()) FOR [NgayGD]
GO
ALTER TABLE [dbo].[Giay] ADD  DEFAULT (N'Còn hàng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Giay] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[KhachHangThanThiet] ADD  DEFAULT (getdate()) FOR [NgayThamGia]
GO
ALTER TABLE [dbo].[KhachHangThanThiet] ADD  DEFAULT ((0)) FOR [TongDiem]
GO
ALTER TABLE [dbo].[KhachHangThanThiet] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KhachHangThanThiet] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LuongNhanVien] ADD  DEFAULT ((0)) FOR [PhuCap]
GO
ALTER TABLE [dbo].[LuongNhanVien] ADD  DEFAULT ((0)) FOR [Thuong]
GO
ALTER TABLE [dbo].[LuongNhanVien] ADD  DEFAULT ((0)) FOR [KhauTru]
GO
ALTER TABLE [dbo].[LuongNhanVien] ADD  DEFAULT (getdate()) FOR [NgayTinhLuong]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD FOREIGN KEY([MaGiay])
REFERENCES [dbo].[Giay] ([MaGiay])
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[ChiTietChuongTrinhKhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaGiay])
REFERENCES [dbo].[Giay] ([MaGiay])
GO
ALTER TABLE [dbo].[ChiTietChuongTrinhKhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[ChuongTrinhKhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaGiay])
REFERENCES [dbo].[Giay] ([MaGiay])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaGiay])
REFERENCES [dbo].[Giay] ([MaGiay])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[GiaoDichDiem]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHangThanThiet] ([MaKH])
GO
ALTER TABLE [dbo].[Giay]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[Giay]  WITH CHECK ADD FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[Giay]  WITH CHECK ADD FOREIGN KEY([MaThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([MaThuongHieu])
GO
ALTER TABLE [dbo].[Giay]  WITH CHECK ADD FOREIGN KEY([MaXX])
REFERENCES [dbo].[XuatXu] ([MaXX])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[ChuongTrinhKhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[KhachHangThanThiet]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[LuongNhanVien]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
/****** Object:  Trigger [dbo].[trg_Insert_BaoHanh]    Script Date: 16/10/2025 10:17:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   TRIGGER [dbo].[trg_Insert_BaoHanh]
ON [dbo].[BaoHanh]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM BaoHanh b JOIN inserted i ON b.MaBH = i.MaBH)
    BEGIN
        RAISERROR (N'Mã bảo hành đã tồn tại!', 16, 1);
        ROLLBACK TRANSACTION; RETURN;
    END
    INSERT INTO BaoHanh(MaBH, MaHD, MaGiay, MaKH, NgayBaoHanh, ThoiHan, MoTa, TrangThai)
    SELECT MaBH, MaHD, MaGiay, MaKH, NgayBaoHanh, ThoiHan, MoTa, TrangThai FROM inserted;
END;
GO
ALTER TABLE [dbo].[BaoHanh] ENABLE TRIGGER [trg_Insert_BaoHanh]
GO
/****** Object:  Trigger [dbo].[trg_Insert_ChuongTrinhKhuyenMai]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   TRIGGER [dbo].[trg_Insert_ChuongTrinhKhuyenMai]
ON [dbo].[ChuongTrinhKhuyenMai]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM ChuongTrinhKhuyenMai c JOIN inserted i ON c.MaKM = i.MaKM)
    BEGIN
        RAISERROR (N'Mã khuyến mãi đã tồn tại!', 16, 1);
        ROLLBACK TRANSACTION; RETURN;
    END
    INSERT INTO ChuongTrinhKhuyenMai(MaKM, TenChuongTrinh,Giam, DieuKien, NgayBatDau, NgayKetThuc)
    SELECT MaKM, TenChuongTrinh, Giam, DieuKien, NgayBatDau, NgayKetThuc FROM inserted;
END;
GO
ALTER TABLE [dbo].[ChuongTrinhKhuyenMai] ENABLE TRIGGER [trg_Insert_ChuongTrinhKhuyenMai]
GO
/****** Object:  Trigger [dbo].[trg_Insert_GiaoDichDiem]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[trg_Insert_GiaoDichDiem]
ON [dbo].[GiaoDichDiem]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM GiaoDichDiem g JOIN inserted i ON g.MaGD = i.MaGD)
    BEGIN
        RAISERROR (N'Mã giao dịch điểm đã tồn tại!', 16, 1);
        ROLLBACK TRANSACTION; RETURN;
    END
    INSERT INTO GiaoDichDiem(MaGD, MaKH, NgayGD, SoDiem, MoTa)
    SELECT MaGD, MaKH, NgayGD, SoDiem, MoTa FROM inserted;
END;
GO
ALTER TABLE [dbo].[GiaoDichDiem] ENABLE TRIGGER [trg_Insert_GiaoDichDiem]
GO
/****** Object:  Trigger [dbo].[trg_Insert_Giay]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo lại trigger với cột MaAnh
CREATE TRIGGER [dbo].[trg_Insert_Giay]
ON [dbo].[Giay]
INSTEAD OF INSERT
AS
BEGIN
    -- Kiểm tra trùng MaGiay
    IF EXISTS (
        SELECT 1
        FROM Giay g
        JOIN inserted i ON g.MaGiay = i.MaGiay
    )
    BEGIN
        RAISERROR (N'Mã giày đã tồn tại, vui lòng nhập mã khác!', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    -- ĐÃ SỬA: Thêm cột MaAnh vào danh sách
    INSERT INTO Giay(MaGiay, TenGiay, SoLuong, DonGia, Size, DoiTuongSD, ChatLieu, MaLoai, MaXX, MaMau, MaThuongHieu,TrangThai, Images, HoatDong)
    SELECT MaGiay, TenGiay, SoLuong, DonGia, Size, DoiTuongSD, ChatLieu, MaLoai, MaXX, MaMau, MaThuongHieu,TrangThai, Images, HoatDong
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[Giay] ENABLE TRIGGER [trg_Insert_Giay]
GO
/****** Object:  Trigger [dbo].[TRG_HoaDon_INSERT_CapNhatThongKeNgay]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[TRG_HoaDon_INSERT_CapNhatThongKeNgay]
ON [dbo].[HoaDon]
AFTER INSERT
AS
BEGIN
    -- Do có thể có nhiều hóa đơn được chèn cùng lúc, ta sẽ dùng phép JOIN
    -- để xử lý tất cả các dòng trong bảng ảo 'inserted'
    
    -- 1. CẬP NHẬT (UPDATE): 
    -- Cộng tổng tiền của hóa đơn mới vào DoanhThu nếu ngày đó đã có thống kê
    UPDATE T
    SET T.DoanhThu = T.DoanhThu + I.TongTien
    FROM ThongKeDoanhSo T
    INNER JOIN inserted I ON T.NgayLap = I.NgayBan;

    -- 2. CHÈN MỚI (INSERT):
    -- Thêm các dòng thống kê cho những ngày bán chưa từng có thống kê trước đó
    INSERT INTO ThongKeDoanhSo (MaThongKe, NgayLap, SoLuongBan, DoanhThu)
    SELECT 
        (SELECT ISNULL(MAX(MaThongKe), 0) FROM ThongKeDoanhSo) + 
        ROW_NUMBER() OVER (ORDER BY NgayBan) AS MaThongKeMoi,
        NgayBan,
        0, -- Số lượng bán ban đầu là 0 (cần trigger riêng trên ChiTietHoaDon để cập nhật)
        SUM(TongTien)
    FROM inserted
    WHERE NgayBan NOT IN (SELECT NgayLap FROM ThongKeDoanhSo)
    GROUP BY NgayBan;

END;
GO
ALTER TABLE [dbo].[HoaDon] ENABLE TRIGGER [TRG_HoaDon_INSERT_CapNhatThongKeNgay]
GO
/****** Object:  Trigger [dbo].[trg_Insert_HoaDon]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Insert_HoaDon]
ON [dbo].[HoaDon]
INSTEAD OF INSERT
AS
BEGIN
    -- Kiểm tra trùng MaHD
    IF EXISTS (
        SELECT 1
        FROM HoaDon h
        JOIN inserted i ON h.MaHD = i.MaHD
    )
    BEGIN
        RAISERROR (N'Mã hóa đơn đã tồn tại, vui lòng nhập mã khác!', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    -- Nếu không trùng thì thêm dữ liệu
    INSERT INTO HoaDon(MaHD, MaKH, MaNV, NgayBan, TongTien, Thue, MaKM)
    SELECT MaHD, MaKH, MaNV, NgayBan, TongTien, Thue, MaKM
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[HoaDon] ENABLE TRIGGER [trg_Insert_HoaDon]
GO
/****** Object:  Trigger [dbo].[TR_UpdateHangThanhVien]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TR_UpdateHangThanhVien]
ON [dbo].[KhachHangThanThiet]
AFTER UPDATE
AS
BEGIN
    -- Kiểm tra xem cột TongDiem có bị thay đổi không
    IF UPDATE(TongDiem)
    BEGIN
        UPDATE KHT
        SET HangThanhVien = 
            CASE
                WHEN I.TongDiem >= 1000 THEN 'Platinum'
                WHEN I.TongDiem >= 500  THEN 'Gold'
                WHEN I.TongDiem >= 100  THEN 'Silver'
                ELSE KHT.HangThanhVien -- Giữ nguyên hạng hiện tại nếu điểm < 100 hoặc giữ giá trị NULL nếu điểm ban đầu chưa có
            END,
            NgayCapNhat = GETDATE() -- Cập nhật ngày thay đổi (nếu cần)
        FROM KhachHangThanThiet KHT
        INNER JOIN inserted I ON KHT.MaKH = I.MaKH;
    END
END
GO
ALTER TABLE [dbo].[KhachHangThanThiet] ENABLE TRIGGER [TR_UpdateHangThanhVien]
GO
/****** Object:  Trigger [dbo].[trg_Insert_KhachHangThanThiet]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Insert_KhachHangThanThiet]
ON [dbo].[KhachHangThanThiet]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM KhachHangThanThiet k JOIN inserted i ON k.MaKH = i.MaKH)
    BEGIN
        RAISERROR (N'Mã khách hàng đã tồn tại!', 16, 1);
        ROLLBACK TRANSACTION; RETURN;
    END
    INSERT INTO KhachHangThanThiet(MaKH, NgayThamGia, TongDiem, HangThanhVien, NgayCapNhat, TrangThai)
    SELECT MaKH, NgayThamGia, TongDiem, HangThanhVien, NgayCapNhat, TrangThai FROM inserted;
END;
GO
ALTER TABLE [dbo].[KhachHangThanThiet] ENABLE TRIGGER [trg_Insert_KhachHangThanThiet]
GO
/****** Object:  Trigger [dbo].[trg_Insert_Loai]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE TRIGGER [dbo].[trg_Insert_Loai]
ON [dbo].[Loai]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM Loai l
        JOIN inserted i ON l.MaLoai = i.MaLoai
    )
    BEGIN
        RAISERROR (N'Mã loại đã tồn tại, vui lòng nhập mã khác!', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    INSERT INTO Loai(MaLoai, TenLoai)
    SELECT MaLoai, TenLoai
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[Loai] ENABLE TRIGGER [trg_Insert_Loai]
GO
/****** Object:  Trigger [dbo].[trg_Insert_LuongNhanVien]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[trg_Insert_LuongNhanVien]
ON [dbo].[LuongNhanVien]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM LuongNhanVien l JOIN inserted i ON l.MaLuong = i.MaLuong)
    BEGIN
        RAISERROR (N'Mã lương đã tồn tại!', 16, 1);
        ROLLBACK TRANSACTION; RETURN;
    END
    INSERT INTO LuongNhanVien(MaLuong, MaNV, LuongCoBan, PhuCap, Thuong, KhauTru, Thang, Nam, NgayTinhLuong, GhiChu)
    SELECT MaLuong, MaNV, LuongCoBan, PhuCap, Thuong, KhauTru, Thang, Nam, NgayTinhLuong, GhiChu FROM inserted;
END;
GO
ALTER TABLE [dbo].[LuongNhanVien] ENABLE TRIGGER [trg_Insert_LuongNhanVien]
GO
/****** Object:  Trigger [dbo].[trg_Insert_MauSac]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Insert_MauSac]
ON [dbo].[MauSac]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM MauSac m
        JOIN inserted i ON m.MaMau = i.MaMau
    )
    BEGIN
        RAISERROR (N'Mã màu đã tồn tại, vui lòng nhập mã khác!', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    INSERT INTO MauSac(MaMau, TenMau)
    SELECT MaMau, TenMau
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[MauSac] ENABLE TRIGGER [trg_Insert_MauSac]
GO
/****** Object:  Trigger [dbo].[trg_Insert_NhaCungCap]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Insert_NhaCungCap]
ON [dbo].[NhaCungCap]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM NhaCungCap n JOIN inserted i ON n.MaNCC = i.MaNCC)
    BEGIN
        RAISERROR (N'Mã nhà cung cấp đã tồn tại!', 16, 1);
        ROLLBACK TRANSACTION; RETURN;
    END
    INSERT INTO NhaCungCap(MaNCC, TenNCC, DiaChi, DienThoai)
    SELECT MaNCC, TenNCC, DiaChi, DienThoai FROM inserted;
END;
GO
ALTER TABLE [dbo].[NhaCungCap] ENABLE TRIGGER [trg_Insert_NhaCungCap]
GO
/****** Object:  Trigger [dbo].[trg_Insert_PhieuNhap]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Insert_PhieuNhap]
ON [dbo].[PhieuNhap]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM PhieuNhap p JOIN inserted i ON p.MaPN = i.MaPN)
    BEGIN
        RAISERROR (N'Mã phiếu nhập đã tồn tại!', 16, 1);
        ROLLBACK TRANSACTION; RETURN;
    END
    INSERT INTO PhieuNhap(MaPN, NgayNhap, TongTien, MaNV, MaNCC)
    SELECT MaPN, NgayNhap, TongTien, MaNV, MaNCC FROM inserted;
END;
GO
ALTER TABLE [dbo].[PhieuNhap] ENABLE TRIGGER [trg_Insert_PhieuNhap]
GO
/****** Object:  Trigger [dbo].[trg_Insert_TaiKhoan]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Insert_TaiKhoan]
ON [dbo].[TaiKhoan]
INSTEAD OF INSERT
AS
BEGIN
    -- Kiểm tra trùng MaTK
    IF EXISTS (
        SELECT 1
        FROM TaiKhoan t
        JOIN inserted i ON t.MaTK = i.MaTK
    )
    BEGIN
        RAISERROR (N'Mã tài khoản đã tồn tại, vui lòng nhập mã khác!', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    -- Nếu không trùng thì cho phép chèn
    INSERT INTO TaiKhoan(MaTK, HoTen, GioiTinh, NgaySinh, DienThoai, Email, DiaChi, MatKhau, Role, NgayTao, TrangThai, Avatar, QRCode)
    SELECT MaTK, HoTen, GioiTinh, NgaySinh, DienThoai, Email, DiaChi, MatKhau, Role, NgayTao, TrangThai, Avatar, QRCode
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[TaiKhoan] ENABLE TRIGGER [trg_Insert_TaiKhoan]
GO
/****** Object:  Trigger [dbo].[trg_Insert_ThuongHieu]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Insert_ThuongHieu]
ON [dbo].[ThuongHieu]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM ThuongHieu t JOIN inserted i ON t.MaThuongHieu = i.MaThuongHieu)
    BEGIN
        RAISERROR (N'Mã thương hiệu đã tồn tại!', 16, 1);
        ROLLBACK TRANSACTION; RETURN;
    END
    INSERT INTO ThuongHieu(MaThuongHieu, TenThuongHieu, DiaChi, Email)
    SELECT MaThuongHieu, TenThuongHieu, DiaChi, Email FROM inserted;
END;
GO
ALTER TABLE [dbo].[ThuongHieu] ENABLE TRIGGER [trg_Insert_ThuongHieu]
GO
/****** Object:  Trigger [dbo].[trg_Insert_XuatXu]    Script Date: 16/10/2025 10:17:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Insert_XuatXu]
ON [dbo].[XuatXu]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM XuatXu x
        JOIN inserted i ON x.MaXX = i.MaXX
    )
    BEGIN
        RAISERROR (N'Mã xuất xứ đã tồn tại, vui lòng nhập mã khác!', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    INSERT INTO XuatXu(MaXX, TenNuoc)
    SELECT MaXX, TenNuoc
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[XuatXu] ENABLE TRIGGER [trg_Insert_XuatXu]
GO
USE [master]
GO
